SECRET_KEY=change-me
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tando_patner_portal
DB_USER=root
DB_PASSWORD=password

INITIAL_ADMIN_NAME=Tando Admin
INITIAL_ADMIN_EMAIL=admin@tando.co.ke
INITIAL_ADMIN_PASSWORD=ChangeMe123!